

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 5px solid #29BB9C;
  height: 100vh;
  font-family: Lato;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.pyp {
  background-color: #29BB9C;
  text-align: center;
  width: 100%;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
  padding: 2px;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  margin-top: 10vh;
  color: #616161;
  font-weight: 600;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* Align items to the left */
}

.column {
  flex: 1;
  margin: 1vw;
  text-align: center;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 5vw;
}

.select-box {
  width: 80%;
  padding: 0.7vw;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #616161;
  box-sizing: border-box;
  background-color: #fff;
}

.button-row {
  display: flex;
  justify-content: flex-end; /* Align buttons to the left */
  margin-top: 2vh; /* Add margin at the top for spacing */
  margin-right: 5vw;
}


.button {
  margin-right: 1vw;
  margin: 1vw;
  padding: 6px;
  width: 7vw;
  height: 3vh;
  font-size: 1rem;
  background-color: #29BB9C;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}


.input-container {
  display: flex;
  /* margin-left:5.5rem ; */
}
#input-container-browse{
  width: 100%;
  /* position: relative; */
  /* left: 10%; */
  
}

.browse-button {
  color: #050505;
  border: none;
  border-radius: 0.2rem;
  /* padding: 5px ; */
  cursor: pointer;
  width: 15%;
  height: 2vh;
  box-shadow: 2px #616161; 
  /* position: relative; */
  /* right: 13%;   */

}



.input-box{
  width: 80%;
  padding: 0.7vw;
  font-size: 1rem;
  border: 1px solid #ccc;
  color: #616161;
  border-radius: 0.3rem;
  box-sizing: border-box;
  box-shadow: #616161;
  /* position: relative; */
  /* left: 10%; */
}



.input-box-1{
  width: 80%;
  padding: 0.7vw;
  font-size: 1rem;
  border: 1px solid #ccc;
  color: #616161;
  border-radius: 0.2rem;
  box-sizing: border-box;
  box-shadow: #616161;
}


.input-icon-container {
  position: relative;
}

.input-box-1 {
  padding-right: 30px; /* Adjust the value based on the icon size and positioning */
}

.icon {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  color: #555; /* Adjust the color of the icon */
}
#close-container{
  justify-content: end;
}

